.address {
    height: 70px;

    padding: 16px;
    margin-bottom: 20px;

    justify-content: left;

    border-radius: 6px;
    box-shadow: rgba(24, 50, 115, 0.06) 2px 6px 16px 0px;

    cursor: pointer;
    text-decoration: none;

    background-color: #fff;
    transition: 0.1s ease;
}