p {
    margin: 0;
}

.book {
    height: 100%;

    padding-top: 30px;
    padding-bottom: 30px;

    box-shadow: rgba(24, 50, 115, 0.06) 2px 6px 16px 0px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    cursor: pointer;
    border-radius: 0px 15px 0px 15px;
}

.book:hover {
    transform: scale(1.01);
}

.book-separator {
    margin-bottom: 15px;
}

.name {
    font: 500 22px Ubuntu, sans-serif;
    color: #050636;

    text-align: center;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.author {
    font: 300 16px Ubuntu, sans-serif;
    color: #050636;
    margin-bottom: 15px;

    text-align: center;
}

.advice {
    margin-bottom: 14px;
}

.price {
    margin: 15px 0px 15px 0px;
    font: 400 20px Ubuntu, sans-serif;
}

.cover {
    width: 75%;
    height: calc(75% * 1.25);
    box-shadow: rgba(24, 50, 115, 0.06) 2px 6px 16px 0px;
}

.cover-unavailable {
    filter: grayscale(80%);
}

.price-unavailable {
    color: gray;
}

.book-unavailable {
    color: #FF9292;
}

.info-separator {
    margin-left: 10px;
}

.books-left {
    font: 500 16px Ubuntu, sans-serif;
}

button {
    font: 400 18px Ubuntu, sans-serif;
    max-width: 250px;
    width: 60%;
    height: 2.25em;
}
