.employee-card {
    padding: 16px;
    margin-bottom: 20px;

    height: 80px;

    justify-content: space-between;

    border-radius: 6px;
    box-shadow: rgba(24, 50, 115, 0.06) 2px 6px 16px 0px;

    cursor: pointer;
    text-decoration: none;

    background-color: #fff;
    transition: 0.1s ease;
}

.employee-card:hover {
    transform: scale(1.002);
}

.employee-photo {
    border-radius: 100%;
}
