.advice {
    display: flex;
    align-items: center;
    justify-content: center;
}

.advice-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.error-message {
    font: 300 16px Ubuntu, sans-serif;
    color: #FF9292;
    margin-bottom: 0;
}

.soft-error-message {
    font: 400 16px Ubuntu, sans-serif;
    color: #121e48;
    margin-bottom: 0;
}