#filter {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}


#filter > label {
    font: 300 18px Ubuntu, sans-serif;
    margin: 0px 15px 0px 15px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

#filter > label#filterByName {
    width: 60%;
    display: flex;
}

#filter > label#filterBySort {
    width: 20%;
    display: flex;
}

#filter > label#filterByCategory {
    width: 20%;
    display: flex;
}

#filter > label > input {
    width: 100%;
    height: 28px;

    display: flex;

    margin-top: 8px;

    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid black;
    border-radius: 0;
}

#filter > label > select {
    width: 100%;
    height: 28px;

    margin-top: 8px;

    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0;
}