#footer {
    position: sticky;
    bottom: 0;

    width: 100%;
    height: 64px;

    padding: 16px;

    background-color: #fff;
    box-shadow: rgba(24, 50, 115, 0.06) 2px -6px 16px 0px;

    z-index: 2;
}
