.label {
    width: 100%;
}

.input {
    width: 100%;
    height: 28px;

    display: flex;

    margin-top: 8px;

    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid black;
    border-radius: 0;

    padding: 0px 5px 0px 5px;
}
