#lateral-menu {
    width: 16%;
    background-image: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
    box-shadow: rgba(24, 50, 115, 0.06) 2px 6px 16px 0px;

    padding: 40px;
}

#lateral-menu > ul > a {
    margin: 20px 0px 20px 0px;
}

#lateral-menu > ul > a > div {
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

#lateral-menu > ul > a > div > img {
    width: 48px;
}

#lateral-menu > ul > a > div > li {
    display: flex;
    align-items: center;

    width: 100%;
    height: 24px;

    font: 300 14px Ubuntu, sans-serif;
    color: #fff;

    margin-left: 15px;
    text-shadow: 0px 2px rgba(24, 50, 115, 0.08);
}

.lateral-active {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}