#menu {
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    width: 100%;
    height: 64px;

    padding: 16px;

    background-color: #fff;
    box-shadow: rgba(24, 50, 115, 0.06) 2px 6px 16px 0px;

    z-index: 2;
}

#menu div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu > div > ul {
    margin: 0;
}

#menu div a {
    font: 500 18px Ubuntu, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu div a span {
    color: #fda085;
}

#menu div ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu div ul li {
    margin-right: 12px;
    margin-left: 12px;
}

#book {
    display: none;
    width: 24px;
    height: 24px;
    max-width: 24px;
    max-height: 24px;
}

#cart {
    position: absolute;
    width: 24px;
    height: 24px;
    max-width: 24px;
    max-height: 24px;
}

#settings {
    width: 24px;
    height: 24px;
    max-width: 24px;
    max-height: 24px;
}

#photo {
    max-width: 42px;
    max-height: 42px;
    margin-left: 12px;
    border-radius: 90px;
    box-shadow: rgba(24, 50, 115, 0.06) 2px 6px 16px 0px;
}

#menu div ul li a {
    box-sizing: padding-box;
    padding-right: 12px;
    padding-left: 12px;
}

.counter {
    position: relative;
    top: -12px;
    left: 12px;

    width: 22px;
    height: 22px;

    color: #FFF !important; 
    font: 500 16px Ubuntu, sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 90px;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.menu-active {
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    bottom: -4px;

    background: -webkit-gradient(linear,left top,right top,from(#f6d365),to(#fda085));
    background: linear-gradient(90deg,#f6d365,#fda085);
    -webkit-transition: background .3s;
    transition: background .3s;
}

@media only screen and (max-width: 720px) {
    #book {
        display: block;
        width: 24px;
        height: 24px;
        max-width: 24px;
        max-height: 24px;
    }

    #menu .hide-on-phone {
        display: none;
    }

    #menu .display-on-phone {
        width: 100vw;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    #menu .display-on-phone ul {
        display: flex;
        justify-content: space-between;
    }

    #menu .display-on-phone .profile {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    #menu .display-on-phone a img {
        margin-left: 0px;
        margin-left: 12px;
        margin-right: 12px;
    }
}
