.full-button {
    font: 400 18px Ubuntu, sans-serif;
    color: #fff;
    border: 0px;

    background-image: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
    transition: ease 0.4s;
}

.pill-button {
    font: 400 18px Ubuntu, sans-serif;
    color: #fff;
    border: 0px;
    border-radius: 90px;

    background-image: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
    transition: ease 0.4s;
}

.pill-button:hover {
    cursor: pointer;
    box-shadow: #fda085 0px 2px 16px -4px;
}

.pill-button-unavailable {
    font: 400 18px Ubuntu, sans-serif;
    color: #fff;

    filter: grayscale(100%);

    border: 0px;
    border-radius: 90px;

    background-image: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
    transition: ease 0.4s;
}

.pill-button-default {
    font: 400 18px Ubuntu, sans-serif;
    color: #050636;

    border: 1px solid #050636;
    border-radius: 90px;

    background-color: #fff;
    transition: ease 0.4s;
}

.pill-button-default:hover {
    cursor: pointer;
    box-shadow: rgba(24, 50, 115, 0.1) 0px 2px 16px 0px;
}

.pill-button-danger {
    font: 400 18px Ubuntu, sans-serif;
    color: #fff;

    border: 0px;
    border-radius: 90px;

    background-image: linear-gradient(135deg, #FF9292 0%, #f5576c 100%);
    transition: ease 0.4s;
}

.pill-button-danger:hover {
    cursor: pointer;
    box-shadow: #FF9292 0px 2px 16px -2px;
}

.pill-button-disabled {
    font: 400 18px Ubuntu, sans-serif;
    color: #6d6d86;

    border: 1px solid #787992;
    border-radius: 90px;

    background-image: gray;
    transition: ease 0.4s;
}
