.report {
    height: 40px;
    max-height: 40px;

    justify-content: space-between;

    text-decoration: none;

    background-color: #fff;
    transition: 0.1s ease;
}

.description {
    text-align: right;
    margin-bottom: 6px;
    font: 300 14px Ubuntu, sans-serif;
}

.report-box {
    border-radius: 0px 30px 0px 30px;
    box-shadow: rgba(24, 50, 115, 0.06) 2px 6px 16px 0px;
}

.annotation {
    font: 300 12px Ubuntu, sans-serif;
    text-align: right;
    margin-bottom: 3px;
    color: #929292;
}

.sticky-report-menu {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #fff;
    box-shadow: 0px 28px 24px #fff;
}