.textarea {
    width: 100%;

    display: flex;
    text-align: justify;
    line-height: 1.15;

    margin-top: 8px;
    padding: 10px 10px 10px 10px;

    border: 1px solid black;
    border-radius: 5px;
}

.textarea::-webkit-scrollbar {
    width: 6px;
    height: 100%;
    right: 5px;
}

.textarea::-webkit-scrollbar-track {
    margin: 3px;
}

.textarea::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.0);
    border-radius: 10px;
    box-shadow: rgba(255,255,255,0.3) 0 0 0 1px;
}

.textarea:hover::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.45);
}

.textarea::-webkit-scrollbar-thumb:hover {
    background: rgba(0,0,0,0.55);
}