.admin-card {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.admin-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.admin-info form {
    display: flex;
    justify-content: space-around;
}

.admin-info input {
    width: 150px;
    margin-top: 5px;
    height: 28px;
    border: 0px;
    border-bottom: 1px dashed #000;
}

.admin-info label {
    cursor: pointer;
    justify-content: space-around;
}

.update {
    min-width: 42px;
    min-height: 42px;

    border-radius: 90px;
    box-shadow: rgba(24, 50, 115, 0.06) 2px 6px 16px 0px;

    margin-left: 30px;
    margin-right: 14px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.4s ease;
}

.update img {
    width: 20px;
    height: 20px;

    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.admin-info .update:hover {
    cursor: pointer;
    box-shadow: rgba(24, 50, 115, 0.06) 2px 6px 16px 0px;
}
