.card-book {
    max-height: 160px;

    padding: 16px;
    margin-bottom: 20px;

    justify-content: left;

    border-radius: 6px;
    box-shadow: rgba(24, 50, 115, 0.06) 2px 6px 16px 0px;

    cursor: pointer;
    text-decoration: none;

    background-color: #fff;
    transition: 0.1s ease;
}

.card-book:hover {
    transform: scale(1.002);
}

.card-book > img {
    width: 90px;
    height: 100%;
    margin-right: 16px;
}

.card-book .card-info {
    width: 50%;
    height: 100%;
    margin-right: 30px;
    text-align: justify;
}

.card-book .card-info div {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-book .card-info div h3 {
    font: 700 24px Ubuntu, sans-serif;
}

.card-book .card-info div p {
    font: 500 18px Ubuntu, sans-serif;
}

.card-book .card-info p {
    text-indent: 1.5em;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.card-book .card-data {
    width: 50%;
    height: 100%;
}
