.unavaliable-card {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.unavaliable-info {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.unavaliable-info img {
    width: 24px;
    height: 24px;
    margin-right: 15px;
}

.exclude {
    min-width: 42px;
    min-height: 42px;

    border-radius: 90px;
    box-shadow: rgba(24, 50, 115, 0.06) 2px 6px 16px 0px;

    margin-left: 30px;
    margin-right: 14px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.4s ease;
}

.unavaliable-card .exclude:hover {
    cursor: pointer;
    box-shadow: rgba(24, 50, 115, 0.06) 2px 6px 16px 0px;
}
