.user-card {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.user-card form {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.user-card label {
    cursor: pointer;
    text-align: right;
}

.user-card .user-info form label div {
    margin-top: 8px;
}

.user-card input {
    width: 50px;
    margin: 0px;
    text-align: right;
    border: 0px;
    border-bottom: 1px dashed #000;
}

.user-card .exclude {
    min-width: 42px;
    min-height: 42px;

    border-radius: 90px;
    box-shadow: rgba(24, 50, 115, 0.06) 2px 6px 16px 0px;

    margin-left: 30px;
    margin-right: 14px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.4s ease;
}

.user-card .exclude:hover {
    cursor: pointer;
    box-shadow: rgba(24, 50, 115, 0.06) 2px 6px 16px 0px;
}
