#admin-books > aside {
    display: flex;
    width: 30%;
}

#admin-books > main {
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#admin-books > main > section > .list-books {
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
