#login {
    position: relative;
    display: flex;

    overflow: hidden;

    padding: 0;

    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;
    background-color: #F9F9F9;
}

#login > * {
    transition: ease 1s;
}

#login > section {
    padding: 50px 20px 40px 20px;
    border-radius: 0px 30px 0px 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #ffffff;
    box-shadow: rgba(24, 50, 115, 0.06) 2px 6px 16px 0px;
}

#login > section > h1 {
    margin: 0px 0px 30px 0px;
    font: 600 32px Ubuntu, sans-serif;
}

#login > section > .advice {
    margin: 0px 0px 25px 0px;
}

#login > section > a {
    font: 300 16px Ubuntu, sans-serif;
    text-decoration: none;
    color: #7D7D80;

    margin: 10px 0px 0px 0px;
    margin-top: 10px;

    border-bottom: 1px dotted;
    transition: ease 0.5s;
}

#login > section > a:hover {
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid;
}

#login > section > form {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#login > section > form > label {
    width: 100%;

    margin-top: 7.5px;
    margin-bottom: 7.5px;

    display: flex;
    flex-direction: column;
}

#login > section > form > label > input {
    font: 300 18px Ubuntu, sans-serif;

    margin: 12px 0px 10px 0px;
    padding-bottom: 3px;
    
    border-top: 0px;
    border-right: 0px;
    border-bottom: 1px solid;
    border-left: 0px;
    border-radius: 0px;
    transition: ease 0.2s;
}

#login > section > form > label > input:focus {
    border-bottom: 1px solid #000000;
}

#login > section > form > .pill-button {
    width: 60%;
    height: 50px;
    margin: 10px;
}

#login > section > p {
    margin: 30px 0px 0px 0px;
    font: 300 16px Ubuntu, sans-serif;
    text-align: center;
}

@media (max-width: 576px) {
    #login > section {
        height: 100vh;
        border-radius: 0px;
        transition: ease 1s;
    }

    #login > section > form {
        width: 75vw;
    }
}