.profile-name-input {
    margin-bottom: 5px;
    font: 500 26px Ubuntu, sans-serif;
    border: 1px solid white;
    transition: 0.25s;
}

.profile-name-input:hover {
    border-bottom: 1px dashed gray;
}

.profile-name-input:focus {
    border-bottom: 1px solid #050636;
}

.profile-email-input {
    margin-bottom: 5px;
    font: 500 18px Ubuntu, sans-serif;
    border: 1px solid white;
    transition: 0.25s;
}

.profile-email-input:hover {
    border-bottom: 1px dashed gray;
}

.profile-email-input:focus {
    border-bottom: 1px solid #050636;
}

.profile-textarea {
    display: flex;
    text-align: justify;
    line-height: 1.15;

    margin-top: 8px;
    padding: 10px 10px 10px 10px;

    text-indent: 1em;
    border: 1px solid white;
    border-radius: 5px;
    transition: 0.25s;
}

.profile-textarea:hover {
    border: 1px dashed gray;
}

.profile-textarea:focus {
    border: 1px solid #050636;
}

.user-photo {
    position: relative;
    width: 204px;
    height: 204px;
    border-radius: 100%;
    box-shadow: rgba(24, 50, 115, 0.06) 2px 6px 16px 0px;
}

.user-photo:hover::after {
    position: absolute;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    text-align: center;

    font: 500 18px Ubuntu, sans-serif;

    margin: 0;
    padding: 0;

    content: 'ATUALIZAR IMAGEM';
    color: #fff;
}

.user-photo:hover {
    filter: saturate(70%);
    transition: ease 0.2s;
}

.user-without-photo {
    width: 204px;
    height: 204px;
    border: 1px dashed #d4d4d4;
    border-radius: 100%;
    box-shadow: rgba(24, 50, 115, 0.06) 2px 6px 16px 0px;
}