.register-border {
    cursor: pointer;
    border-bottom: 1px solid gray;
    transition: ease 0.4s;
}

.register-border-active {
    cursor: pointer;
    border-bottom: 1px solid #FF9292;
    transition: ease 0.4s;
}

.profile-photo {
    cursor: pointer;
    transition: ease 0.2s;
}

.profile-photo:hover::after {
    position: absolute;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    text-align: center;

    font: 500 18px Ubuntu, sans-serif;

    margin: 0;
    padding: 0;

    content: 'ATUALIZAR IMAGEM';
    color: #fff;
}

.profile-photo:hover {
    filter: saturate(40%);
    transition: ease 0.2s;
}