#show-book {
    margin-top: 64px;
}

#show-book .title {
    font: 500 36px Ubuntu, sans-serif;
    margin-bottom: 0px;
}

#show-book .author {
    font: 300 18px Ubuntu, sans-serif;
    text-align: left;
}

#show-book .genre {
    font: 300 18px Ubuntu, sans-serif;
    text-align: left;
}

#show-book .synopsis {
    text-indent: 1.5em;
    line-height: 1.5;
    z-index: 0;
}

#show-book .price {
    font: 300 22px Ubuntu, sans-serif;
    margin-top: 0;
    margin-bottom: 30px;
}

#show-book .label-quantity-of-books {
    margin-bottom: 30px;
}

#show-book .quantity-of-books {
    width: 100%;
    height: 28px;

    display: flex;

    text-align: right;

    padding-right: 5px; 

    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid black;
    border-radius: 0;

    margin-left: 15px;
}

#show-book .quantity-ending {
    color: #96e6a1;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.025);
}

#show-book .quantity-available {
    color: #96e6a1;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.025);
}

#show-book .purchase-summary {
    font: 300 16px Ubuntu, sans-serif;
}

#show-book .shop-info {
    padding: 30px;
    border-radius: 0px 15px 0px 15px;
    box-shadow: rgba(24, 50, 115, 0.06) 2px 6px 16px 0px;
}

#show-book .book-status {
    margin-bottom: 20px;
}

#show-book .pill-button {
    width: 100%;
    margin-top: 25px;
    font: 500 16px Ubuntu, sans-serif;
}

@media (min-width: 1200px) {
    #show-book > img, #show-book .shop-fixed {
        position: sticky;
        top: 128px;
    }
}