* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none !important;
}

body {
    color: #050636;
    background: #ffffff;
}

html, body {
  height: 100vh;
}

body, input, button, textarea, select, option {
    font: 300 18px Ubuntu, sans-serif;    
}

textarea:focus, input:focus{
    outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

ul, ol {
  list-style-type: none;
}

a, a:visited, a:hover  {
  color: #050636;
  text-decoration: none;
}

*:focus {
  outline: none;
}

#static-page {
  position: fixed;

  width: 100vw;
  height: 100%;
  
  display: flex;

  padding: 0;
  margin: 0;
}

.fix-height {
  height: calc(100% - 64px) !important; 
  min-height: calc(100% - 64px);
  max-height: calc(100% - 64px);
}
